@use '_reset.scss' as reset;

//Colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-cyan: hsl(167, 40%, 24%); //graphic design text
$dark-blue: hsl(198, 62%, 26%); //photography text
$light-cyan: hsl(168, 34%, 41%); //footer
$dark-grey: hsl(212, 27%, 19%);
$medium-grey: hsl(213, 9%, 39%);
$light-grey: hsl(232, 10%, 55%);
$off-white: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//Fonts
$barlow: 'Barlow', sans-serif;
$fraunces: 'Fraunces', serif;

* {
  font-size: 18px;
}

//Header
header {
  background-image: url(../img/mobile/image-header.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 2rem 1rem;

  //Nav Container
  .nav-container {
    .nav-items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .burger-btn {
        cursor: pointer;
      }

      .menu {
        background-color: $white;
        display: none;
        position: absolute;
        margin-top: 2.5rem;
        margin-inline: 1rem;
        top: 70px;
        right: 0;
        left: 0;
        z-index: 15;

        .ul-container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding-left: 0;
          padding-block: 2rem;
          gap: 2rem;

          li {
            list-style: none;

            a {
              font-family: $barlow;
              text-decoration: none;
              color: $light-grey;
            }

            .contact-btn {
              background-color: $yellow;
              color: $dark-grey;
              padding: 1rem 2rem;
              border-radius: 2rem;
            }
          }
        }
      }

      .menu::before {
        content: '';
        position: absolute;
        border: 30px solid transparent;
        border-right-color: $white;
        top: -30px;
        right: 0px;
      }

      .show {
        display: block;
      }
    }
  }

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;

    h1 {
      font-size: 2.5rem;
      letter-spacing: 5px;
      font-family: $fraunces;
      text-transform: uppercase;
      color: $white;
      text-align: center;
      padding-bottom: 1rem;
    }

    img {
      transform: translateY(130px);
    }
  }
}

//Main Content

main {
  .section-one-container,
  .section-two-container {
    article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 3rem 1rem;
      h2 {
        font-family: $fraunces;
        font-size: 2rem;
        text-align: center;
        padding-bottom: 1rem;
      }

      p {
        font-family: $barlow;
        color: $light-grey;
        text-align: center;
        padding-bottom: 2rem;
      }

      a {
        font-family: $fraunces;
        color: $dark-grey;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        border-bottom: lighten($yellow, 25%) solid 5px;
      }
    }
  }

  .section-two-container {
    .audience-btn {
      border-bottom: lighten($soft-red, 25%) solid 5px;
    }
  }

  .section-three-container,
  .section-four-container {
    background-image: url(../img/mobile/image-graphic-design.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    .art-three-container {
      padding-top: 32rem;
      color: $dark-cyan;
      padding-inline: 1rem;
      h2 {
        font-size: 2rem;
        font-family: $fraunces;
        text-transform: capitalize;
        text-align: center;
        padding-bottom: 1rem;
      }

      p {
        font-family: $barlow;
        text-align: center;
      }
    }

    .art-four-container {
      padding-top: 32rem;
      color: $dark-blue;
      padding-inline: 1rem;
      h2 {
        font-size: 2rem;
        font-family: $fraunces;
        text-transform: capitalize;
        text-align: center;
        padding-bottom: 1rem;
      }

      p {
        font-family: $barlow;
        text-align: center;
      }
    }
  }

  .section-four-container {
    background-image: url(../img/mobile/image-photography.jpg);
  }

  .section-five-container {
    padding: 3rem 1rem;
    h2 {
      font-family: $fraunces;
      text-transform: uppercase;
      color: $light-grey;
      padding-bottom: 3rem;
      letter-spacing: 4px;
      text-align: center;
    }

    .article-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 4rem;

      article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
          border-radius: 50%;
        }

        p:first-of-type {
          font-family: $barlow;
          color: $medium-grey;
          text-align: center;
          margin-block: 1.5rem;
        }

        h3 {
          font-family: $fraunces;
          font-weight: 900;
          margin-bottom: 0.5rem;
        }

        p:last-of-type {
          font-family: $barlow;
          color: $light-grey;
        }
      }
    }
  }

  .section-six-container {
    display: flex;
    flex-wrap: wrap;

    img {
      width: 50%;
    }
  }
}

footer {
  background-color: hsl(167, 44%, 70%);
  padding-block: 3rem;

  .footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    img {
      filter: invert(50%) sepia(29%) saturate(591%) hue-rotate(118deg) brightness(92%) contrast(89%);
    }

    .footer-items-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-family: $barlow;
      width: 100%;
      padding-left: 0;
      li {
        list-style: none;

        a {
          color: $light-cyan;
          text-decoration: none;
          text-align: center;
          cursor: pointer;
        }
      }
    }

    .social-icons-container {
      display: flex;
      gap: 1rem;

      a {
        color: $light-cyan;
        cursor: pointer;
      }
    }
  }
}
